.address_ecomm{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}




.container_address {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 90%;
    max-width: 600px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.address-list {
    margin-bottom: 20px;
}

.address-item {
    background-color: #f9f9f9;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.address-details {
    text-align: left;
}

.address-actions {
    display: flex;
    gap: 10px;
}

.btn {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#update-btn {
    background-color:#071952 ;
    color: white;
}

#update-btn:hover {
    background-color: #059212;
}

.delete-btn {
    background-color: #dc3545;
    color: white;
}

.delete-btn:hover {
    background-color: #c82333;
}

.add-btn {
    background-color: #28a745;
    color: white;
    margin-bottom: 10px;
}

.add-btn:hover {
    background-color: #218838;
}

#next-btn {
    background-color: #17a2b8;
    color: white;
    margin-left: 3%;
}

#next-btn:hover {
    background-color: #117a8b;
}