.profile-card {
  width: 300px;
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-left: 37%;
  margin-top: 6%;
  margin-bottom:5%;
}

.profile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.back-btn,.edit-btn {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.back-btn:hover,.edit-btn:hover {
  background-color: #3e8e41;
}

.profile-details {
  margin-bottom: 20px;
}

.profile-details h2 {
  margin-top: 0;
  text-align: center;
}

.profile-details p {
  margin-bottom: 10px;
}

.profile-details span {
  font-weight: bold;
}

.middle-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #f2f2f2;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  text-decoration: none;
}

.order-btn,.cart-btn {
  background-color: #ff69b4;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.order-btn:hover,.cart-btn:hover {
  background-color: #ff7a9a;
}


